
<!doctype html>

<html>
	<head>
		<title>SGSMS</title>
		<meta charset = "UTF-8">
	</head>

	<body>

		<h1 id = "banner" align="center">Some Generic Social Media Site</h1>

		<form action = "login.html" method = "post" align="right">
			E-mail <input type="email" name="Email"></input>
			
			Password <input type="password" name="Password"></input>

			<input type="submit" name="loginButton" Value="Log In"> 
		</form>

		<hr><br>

		<p align="center">Sign Up</p>

		<form action = "printMessageRecieved.html" method = "post" align="center">
			<p>
				First Name<input type="text" name="firstname"></input>
				&nbsp;&nbsp;Last Name<input type="text" name="lastname"></input>
			</p>

			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail <input type="email" name="Email"></input><br> </p> 
			<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password <input type="password" name="Password"></input><br></p>

			<p>Confirm Password:<input type="password" name="Password_CONFIRM"></input><br></p>

			<input type="submit" name="signUpButton" Value="Sign Up"> 
		</form>

		<!--<br><br><br><br>

		<table >
        	<tr>
    			<td>Jill</td>
    			<td>Smith</td> 
    			<td>50</td>
  			</tr>
  			<tr>
    			<td>Eve</td>
    			<td>Jackson</td> 
    			<td>94</td>
  			</tr>
		</table>-->


	</body>


</html>