<!doctype html>

<!--This page is displayed when a new account has been successfully 
	made on SGSMS.
	Created  by Jeremy Wu-->
<html>
	<head>
		<title>Reponse testing for SGSMS</title>
	</head>

	<body>
		<p>The email you entered was {{Email}}</p>
		<p>The name you entered was {{firstname}} {{lastname}}</p>
		<p>The password you entered was {{Password}}</p>
		<p>The confirmation you entered for the password was {{Password_CONFIRM}}</p>
		<p>Account for {{firstname}} {{lastname}} with the {{Email}}</p>
		<p>has been created, return to the main page to login</p>

		<a href = "/">Click to Return to Main Page</a>

	</body>

</html>
